/* styles.css/ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Dancing+Script:wght@700&display=swap');

body {
    background-color: #0a2540;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-weight: 300;
    width: 100%;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.App-header {
    text-align: center;
    padding: 20px;
    background-color: #0a2540;
    border-bottom: 2px solid #ff6347;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
    position: relative; 
}

.logo.large {
    font-size: 6rem;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0a2540;
    border-bottom: 2px solid #ff6347;
}

.logo .my {
    font-family: 'Dancing Script', cursive;
    color: #ff6347;
    font-weight: 700;
    margin-right: 2px; 
}

.logo .f,
.logo .a,
.logo .e,
.logo .s {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    z-index: 2;
    -webkit-text-stroke: .3px #0a2540; 
}

.logo .heart-v {
    width: 75px; 
    height: 75px; 
    background-image: url('/frontend/public/images/klipartz.com.png');
    background-size: 75px 75px; 
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0 -10px; 
    z-index: 1; 
    transform: translateY(5px); 
}

.logo.large .heart-v {
    width: 150px; 
    height: 150px; 
    background-size: 150px 150px; 
    margin: 0 -22px; 
}

.logo .f {
    margin-right: -3px; 
}

.logo.large .f {
    margin-right: -6px;
}

.logo .a {
    margin-left: -3px; 
    margin-right: -10px; 
}

.logo.large .a {
    margin-left: -6px; 
    margin-right: -20px; 
}

.logo .e {
    margin-left: -6px; 
    margin-right: -.5px; 
}

.logo.large .e {
    margin-left: -12px; 
    margin-right: -1px; 
}

.logo .s {
    margin-left: -.5px; 
}

.logo.large .s {
    margin-left: -1px; 
}

.welcome-message {
    margin-left: 10px;
    font-size: 1rem; 
}

.section-container {
    display: flex;
    margin-bottom: 40px;
}

.search-column {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.favorites-column {
    flex: 2;
}

.favorites-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.favorite-item {
    background-color: #1a374d;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: width 0.3s, padding 0.3s, font-size 0.3s;
    display: inline-block;
    vertical-align: top;
}

.favorite-item img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
}

.favorite-item p {
    color: #ffffff;
    margin: 10px 0;
    font-size: 1rem;
}

.favorite-item .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff6347;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.favorite-item:hover .delete-icon {
    opacity: 1;
}

.favorite-item:hover img {
    opacity: 0.5;
}

button {
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    width: 200px;
    display: block;
    margin: 10px auto;
    font-weight: 400;
}

button:hover {
    background-color: #ff4500;
}

.search-container {
    margin-bottom: 20px;
    position: relative;
}

.search-container input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #1a374d;
    color: #ffffff !important;
    margin-bottom: 20px;
    height: 40px;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* Center the form on the login and register pages */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #1a374d; /* Added background for better appearance */
    padding: 20px; /* Add padding inside the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

form div {
    margin-bottom: 15px;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

form input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #1a374d;
    color: #ffffff;
}

form button {
    width: 100%; /* Stretch the button to full width of the form */
    font-size: 1rem;
    display: block;
    margin: 10px auto;
    font-weight: 400;
}

form p {
    color: #ff6347;
    text-align: center;
}

/* Ensure the orange line spans across the entire page */
.App-header {
    border-bottom: 2px solid #ff6347;
    width: 100%;
}

.center-links {
    text-align: center;
}

.center-links a {
    color: #ff6347;
    text-decoration: none;
}

.center-links a:hover {
    color: #ff4500;
}

.select__control {
    width: 100% !important;
    margin: 0 auto !important;
    border-radius: 5px !important;
    border: 2px solid #ffffff !important;
    background-color: #1a374d !important;
    color: #ffffff !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
}

.select__menu {
    background-color: #1a374d !important;
    border-left: 2px solid #ff6347 !important;
    border-right: 2px solid #ff6347 !important;
    border-bottom: 2px solid #ff6347 !important;
}

.select__option {
    color: #ffffff !important;
    text-align: left !important;
}

.select__option--is-focused {
    background-color: #ff6347 !important;
}

.select__option--is-selected {
    background-color: #ff4500 !important;
    color: #ffffff !important;
}

.select__input {
    color: #ffffff !important;
    padding: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}

.select__placeholder {
    color: #ffffff !important;
    display: flex !important;
    align-items: center !important;
}

@media (max-width: 768px) {
    .section-container {
        flex-direction: column;
    }

    .search-column, .favorites-column {
        max-width: 100%;
        margin-left: 0;
    }

    .favorites-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .favorite-item {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .favorite-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 400px) {
    .favorite-item {
        width: calc(100% - 20px);
    }
}
